@import "import-css";

body {
  background-color: #e5e5e5;
}

header {
  padding: 35px 35px 0 35px;
}

#top__header {
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 35px;
  a {
    color: #303030;

  }
}

.logo {
  background-color: #222222;
  width: 42px;
  height: 42px;
  color: #fff;
  max-width: 20%;
  p {
    text-align: center;
    line-height: 42px;
  }
}

.menu {
  display: flex;
  max-width: 80%;
  flex-grow: 1;
  li {
    padding-left: 57px
  }
}

.login {
  width: 20%;
  .search {
    width: 42px;
    height: 42px;
    text-align: center;
    line-height: 42px;
    border: 1px solid #303030;
  }
  span {
    padding-left: 20px;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
  }
}

.main__caption {
  text-align: center;
  height: 50vh;
  display: flex;
  align-items: center;

  .box_caption {
    margin: auto;
    h1 {
      font-size: 72px;
      text-transform: uppercase;
      color: #303030;
      line-height: 43px;
    }
    p {
      font-size: 24px;
      font-style: italic;
      font-family: 'Georgia', sans-serif;
      color: #606060;
      letter-spacing: 1.2px;
      padding-top: 40px;
      padding-bottom: 60px;
    }
    a {
      color: #303030;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 1.2px;
      border: 1px solid #959595;
      padding: 25px 45px;
    }
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 22px;
  .column {
    width: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    .block__1 {
      width: 100%;
      min-height: 600px;
      background-color: #d2d2d2;
      display: flex;
      justify-content: center;
      cursor: pointer;
      p {
        font-size: 18px;
        text-transform: uppercase;
        font-style: italic;
        font-weight: 600;
        letter-spacing: 1.2px;
        margin-top: 5px;
      }
    }
    .block__2 {
      min-height: 300px;
      background: #c2c2c2;
      cursor: pointer;
    }
    .block__3 {
      min-height: 300px;
      background-color: #bbbbbb;
      cursor: pointer;
      p {
        font-family: 'Georgia', sans-serif;
        font-style: italic;
        font-size: 14px;
        line-height: 19px;
      }

    }
    .block__4 {
      min-height: 300px;
      background-color: #cacaca;
      cursor: pointer;
    }
    .block__5 {
      min-height: 300px;
      background-color: #606060;
      cursor: pointer;
    }
    .block__6 {
      min-height: 300px;
      background-color: #dbdbdb;
      cursor: pointer;
    }
    .block__7 {
      min-height: 300px;
      background-color: #bbbbbb;
      cursor: pointer;
      p {
        font-family: 'Georgia', sans-serif;
        font-style: italic;
        font-size: 14px;
        line-height: 19px;
      }
    }
    .block__8 {
      min-height: 300px;
      background-color: #d0d0d0;
      cursor: pointer;
    }
    .block__9 {
      min-height: 300px;
      background-color: #606060;
      cursor: pointer;
    }
    .block__10 {
      min-height: 600px;
      background-color: #d7d7d7;
      cursor: pointer;
    }
  }
}

.sign__up {
  padding: 35px 35px 0 35px;
  height: 70vh;
  .second__caption {
    h2 {
      font-size: 36px;
      text-transform: uppercase;
      text-align: center;
      font-family: 'Lato', sans-serif;
      font-weight: 600;
      color: #303030;
      line-height: 35px;
      letter-spacing: 1.5px;
    }
    .sign__desc {
      color: #606060;
      font-size: 18px;
      line-height: 35px;
      letter-spacing: 1.2px;
      font-family: 'Georgia', sans-serif;
      padding-top: 10px;
    }
    .send {
      text-align: center;
      padding-top: 20px;
      display: flex;
      justify-content: center;
      input[type="email"] {
        max-width: 475px;
        height: 45px;
        width: 100%;
        color: #606060;
        padding-left: 10px;
        font-size: 14px;
        &::placeholder {
          color: #606060;
          font-size: 14px;
          line-height: 43px;
          padding-left: 10px;
        }
        &:-ms-input-placeholder {
          color: #606060;
          font-size: 14px;
          line-height: 43px;
          padding-left: 10px;
        }
      }
      .btn {
        background-color: #f68236;
        color: #fff;
        border: none;
        cursor: pointer;
      }
      button {
        height: 51px;
        margin-left: -5px;
        padding: 0 20px;
      }
    }
  }
}

#slaider {
  padding: 35px 35px 0 35px;
  .slaider_second {
    position: relative;
    .mySlaiders {
      height: 118px;
      background-color: #bbbbbb;
    }
    .display-left {
      position: absolute;
      top: 0;
    }
    .display-right {
      right: 0;
    }
  }
  .button__arrow{
    position: absolute;
    top: 0;
    height: 118px;
    font-size: 48px;
    color: #fff;
    border: none;
    background: #e4e4e4;
    cursor: pointer;
    outline: none;
  }
}

footer {
  padding: 35px 35px 35px 35px;
  .row__footer {
    max-width: 25%;
    border-right: 1px solid #eaeaea;
    padding-right: 170px;
    &:nth-child(4) {
      border-right: none;
      padding-right: 0;
    }
    h2 {
      font-size: 14px;
      line-height: 35px;
      letter-spacing: 1.5px;
      font-family: 'Lato', sans-serif;
      font-weight: 600;
      color: #303030;
      text-transform: uppercase;
      padding-bottom: 10px;
    }
    a {
      font-size: 12px;
      line-height: 23px;
      letter-spacing: 1.1px;
      color: #606060;
      &:hover {
        border-bottom: 1px solid #606060;
      }
    }
    p {
      font-size: 12px;
      line-height: 23px;
      color: #606060;
      font-family: 'Lato', sans-serif;
    }
  }
  .border_icon {
    border: 1px solid #606060;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    margin-right: 5px;
    .fa {
      line-height: 32px;
      font-size: 15px;
    }

  }
  .soc__footer {
    margin-top: 10px;
  }
}

.line {
  width: 22px;
  height: 1px;
  background-color: white;
}

.block__text {
  display: flex;
  flex-direction: column;
  color: #fff;
  justify-content: center;
  text-align: center;
  align-items: center;
  h2 {
    font-size: 24px;
    font-weight: 800;
    line-height: 30px;
    text-transform: uppercase;
  }

}

.p_text {
  font-size: 18px;
  letter-spacing: 1.2px;
  font-family: 'Lato', sans-serif;
  line-height: 19px;
  font-style: italic;
  margin-top: 10px;
}

.p__text__georgia {
  font-size: 18px;
  letter-spacing: 1.2px;
  font-family: 'Georgia', sans-serif;
  line-height: 19px;
  font-style: italic;
  margin-top: 10px;
  text-transform: uppercase;
}

.icon__flex {
  margin-bottom: 20px;
  i {
    padding: 0 13px;
    font-size: 40px;
  }
}

.icon__arrow {
  background: url("../img/png__icon/arrow__left.jpg") no-repeat center;
  width: 27px;
  height: 13px;
  margin-bottom: 10px;
}

.block__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.telegram {
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 1.2px;
  margin-top: 10px;
}

@import "media.scss";